:root {
    --branco: #fff;
    --preto: #000;
    --escuroazul: #07001F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 80px;
    background-color: var(--preto);
    border-bottom: 3px solid var(--branco);
}

header .container {
    flex-direction: row;
    padding: 0px 5px;
    position: fixed;
}

#logo img {
    height: 60px;
    width: 230px;
    margin-top: 10px;
}

#check {
    display: none;
}

label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 4rem;
    position: fixed;
    right: 15px;
    top: 1px;
    bottom: 10px;
}

nav ul {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: -65%;
    width: 65%;
    top: 70px;
    transition: all 0.5s;
}

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--branco)
}

nav ul li a {
    text-decoration: none;
    color: var(--branco)
}

main {
    background: url(img/ONDAS.png);
    height: 70vh;
    background-size: cover;
    background-position: center;
    font-family: "Momo Trust Display", sans-serif;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container h1 {
    color: var(--branco);
}

main .container h2{
    color: var(--branco);
    font-size: 1.3rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    nav ul {
        width: 40%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    main .container h1{
        font-size: 3.9rem;
    }

    main .container h2{
        font-size: 2.1rem;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    header {
        height: 100px;
    }

    header .container {
        position: static;
    }

    label {
        display: none;
    }

    #logo img {
        height: 80px;
        width: 305px;
    }

    #logo {
        padding-left: 20px;
    }

    nav {
        padding-right: 20px;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: none;
        float: left;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: var(--branco);
    }

    nav ul li a:hover {
        color: #4D4673
    }

}