:root {
    --branco: #fff;
    --preto: #000;
    --escuroazul: #07001F;
    --vermelho: #c4302b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 80px;
    background-color: var(--preto);
    border-bottom: 3px solid var(--branco);
}

header .container {
    flex-direction: row;
    padding: 0px 5px;
}

#logo img {
    height: 60px;
    width: 230px;
    margin-top: 10px;
}

#check {
    display: none;
}

label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 4rem;
    position: fixed;
    right: 15px;
    top: 1px;
    bottom: 10px;
}

nav ul {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: -65%;
    width: 65%;
    top: 70px;
    transition: all 0.5s;
}

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--branco)
}

nav ul li a {
    text-decoration: none;
    color: var(--branco)
}

main {
    background: url(img/ONDAS.png);
    height: 70vh;
    background-size: cover;
    background-position: center;
    font-family: "Momo Trust Display", sans-serif;
    border-bottom: 3px solid var(--branco);
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container h1 {
    color: var(--branco);
}

main .container h2 {
    color: var(--branco);
    font-size: 1.3rem;
}

#destaque {
    background-color: var(--preto);
    text-align: center;
    border-bottom: 3px solid var(--branco);
}

#destaque .container {
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

#destaque .container #foto img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid var(--branco);
}

#texto h2 {
    color: var(--branco);
    margin-top: 30px;
    font-size: 1.7rem;
}

#texto {
    padding: 0px 10px;
}

#texto p {
    color: var(--branco);
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: left;
    margin: 15px 0px;
}

#principal {
    background: url(img/FundoPreto.png);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid var(--branco);
}

#principal .container {
    flex-direction: column;
    padding: 50px 10px;
    text-align: left;
}

#video {
    text-align: center;
}

#video iframe {
    height: 191px;
    width: 340px;
    border: 2px solid var(--branco);
}

#video h2 {
    color: var(--branco);
}

#principal .container #texto2 {
    color: var(--branco);
    margin-bottom: 15px;
}

#texto2 p {
    margin: 15px 0px;
    font-size: 1.3rem;
}

.btn {
    height: 70px;
    width: 350px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--vermelho);
    padding: 10px 35px;
    color: var(--branco);
    border-radius: 50px;
    border: 3px solid var(--Preto);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    nav ul {
        width: 40%;
    }

    .btn {
        margin-left: 85px;
    }

    #video iframe {
        width: 560px;
        height: 315px;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    main .container h1 {
        font-size: 3.9rem;
    }

    main .container h2 {
        font-size: 2.1rem;
    }

    .btn {
        margin-left: 175px;
    }

    #video iframe {
        height: 315;
        width: 560;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .btn {
        margin-left: 295px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    header {
        height: 100px;
    }

    header .container {
        position: static;
    }

    label {
        display: none;
    }

    #logo img {
        height: 80px;
        width: 305px;
    }

    #logo {
        padding-left: 20px;
    }

    nav {
        padding-right: 20px;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: none;
        float: left;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: var(--branco);
    }

    nav ul li a:hover {
        color: #4D4673
    }

    #destaque .container {
        flex-direction: row;
    }

    #destaque .container #texto {
        text-align: left;
    }

    #texto {
        margin-left: 50px;
        margin-bottom: 30px;
    }

    #principal .container{
        flex-direction: row;
    }

    .btn{
        margin-left: 105px;
    }

    #texto2{
        margin-right: 50px;
    }

}